@charset "UTF-8";

@import url(reset.css);
@import url(font.css);

body {
    --mainColor: #004DA0;
}

body.on {height: 100vh; overflow-x: hidden;}

header {width: 100%; height: 100px; background: #fff; position: relative;}
#visual_main {width: 100%; height: 790px; background: url('../images/main.jpg') top no-repeat; background-size: cover; position: relative;}
#section1 {width: 100%; height: 90px; background: #f0f0f0; padding: 0 20px; box-sizing: border-box;}
#section2 {width: 100%; background: #fff; box-sizing: border-box; padding: 180px 20px 0 20px; margin-bottom: 10vw;}
#section3 {width: 100%; background: #fff; margin-bottom: 10vw;}
#section4 {width: 100%; background: #fff; padding: 0 20px 0 20px; box-sizing: border-box;margin-bottom: 20vw;}
footer {width: 100%; background: #333; padding: 50px 40px; box-sizing: border-box;}

.topset {max-width: 1580px; margin: 0 auto; position: relative;}


/* header */
header h1 {width: 126px; height: 60px; float: left; margin-top: 20px; margin-left: 20px;}
header h1 a {display: block;}
header h1 img {width: 100%;}


header .topset .gnb {height: 70px; float: right; margin-top: 30px; margin-right: 5vw; font-size: 0;}

header .topset > .gnb > li {height: 70px; line-height: 70px; float: left; font-size: 20px;}
header .topset > .gnb > li > a {display: block; padding: 0 2.5vw; font-weight: 600;}
header .topset > .gnb > li:hover > a {color: var(--mainColor);}


header .topset > .gnb .lnb {position: relative; z-index: 2; padding: 20px 0; display: none;}

header .topset > .gnb .lnb li {height: 40px; line-height: 40px; text-align: center; font-size: 18px;}
header .topset > .gnb .lnb li a {display: block;}
header .topset > .gnb .lnb li:hover a {color: #fff; background: var(--mainColor);}


header .lnb_bg {width: 100%; position: absolute; margin-top: 0; background: rgba(255, 255, 255, 0.9); backdrop-filter: blur(10px); top: 100px; left: 0; z-index: 1; display: none;}
/* background: rgba(255, 255, 255, 0.5); backdrop-filter: blur(10px); */


header .topset #burger_menu {width: 30px; height: 30px; position: absolute; top: 52px; right: 0; cursor: pointer; z-index: 5; margin-right: 20px;}

header .topset #burger_menu span {position: absolute; width: 20px; height: 3px; background: #004DA0; top: 13px;}

header .topset #burger_menu span::before,
header .topset #burger_menu span::after {content: ''; position: absolute; width: 30px; height: 3px; background: #004da0; transition: .3s;}

header .topset #burger_menu span::before {top: -10px;}
header .topset #burger_menu span::after {top: 10px;}


header .topset #burger_menu.on span {width: 0; background: #fff;}
header .topset #burger_menu.on span::before {transform: rotate(45deg); top: 0; background: #fff;}
header .topset #burger_menu.on span::after {transform: rotate(-45deg); top: 0; background: #fff;}


.sidemenu {position: fixed; width: 40%; height: 100vh; top: 0; right: -50%; z-index: 4; background:  rgba(0, 77, 160, 0.95); display: flex; justify-content: center; align-items: center; transition: .8s;}

.sidemenu .gnb {width: 80%; height: 80%; border: 2px solid #fff; display: flex !important; justify-content: center; align-items: center; flex-direction: column;}

.sidemenu .gnb > li {width: 80%; line-height: 80px; text-align: center; font-size: 24px; border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
.sidemenu .gnb > li:last-child {border: none;}
.sidemenu .gnb > li a {display: block; color: #fff;}
.sidemenu .gnb > li:hover > a {background: rgba(255, 255, 255, 0.1); color: #fff;}

.sidemenu .gnb .lnb {display: none; background: rgba(255, 255, 255, 0);}

.sidemenu .gnb .lnb li {line-height: 60px; font-size: 20px;}
.sidemenu .gnb .lnb li:hover a {background: rgba(255, 255, 255, 0.1); color: #fff;}


.sidemenu.on {right: 0;}

.sidemenu .gnb > li.on {border: none;}
.sidemenu .gnb > li.on > a {background: rgba(0, 0, 0, 0.5);}

.sidemenu .gnb li.on .lnb li {border-bottom: 1px solid rgba(255, 255, 255, 0.2)}
.sidemenu .gnb li.on .lnb li:last-child {border-bottom: none;}




/* visual_main */
#visual_main .text_box {position: absolute; top: 30%; left: 10%; font-family: 'YUniverse-B'; text-align: left;}
#visual_main .text_box em {display: block; font-size: 50px; font-style: normal; color: #fff; text-shadow: 0px 0px 50px rgba(254, 253, 205, 0.3), 3px 3px 0px #8478DB; text-indent: 10px;}
#visual_main .text_box strong {display: block; font-weight: bold; text-align: center; font-size: 130px; color: #F7FF98; border-radius: 10px; text-shadow: 0px 0px 50px rgba(254, 253, 205, 0.3), 3px 3px 0px #8478DB;}




/* section1 */
#section1 .quick_box {max-width: 1580px; height: 200px; background: #fff; box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); position: relative; top: -180px; margin: 0 auto; z-index: 3; box-sizing: border-box; border-radius: 20px; text-align: right; transition: .3s;}
#section1.on .quick_box {top: -60px;}

#section1 .tit_box {width: 10%; height: 200px; background: var(--mainColor); border-radius: 20px; float: left; display: flex; justify-content: center; align-items: center;}

#section1 .quick_box .tit_box h2 {width: 100px; font-size: 28px; color: #fff; text-align: center; word-break: keep-all;}

#section1 .quick_box ul {width: 90%; float: right; padding: 14px 1%; box-sizing: border-box;}

#section1 .quick_box ul li {width: 15.8%; height: 170px; text-align: center; float: left; margin-right: 1%; background: #ddd; border-radius: 20px;}
#section1 .quick_box li:last-child {margin-right: 0;}

#section1 .quick_box li:nth-child(1),
#section1 .quick_box li:nth-child(4) {background: #F36E23;}
#section1 .quick_box li:nth-child(2),
#section1 .quick_box li:nth-child(5) {background: #4CA94E;}
#section1 .quick_box li:nth-child(3),
#section1 .quick_box li:nth-child(6) {background: #79278E;}

#section1 .quick_box li a {display: block; width: 100%; height: 100%;}
#section1 .quick_box li figure {display: block; width: 100%; padding-top: 30px; box-sizing: border-box;}

#section1 .quick_box li p {color: #fff; font-size: 22px; margin-top: 5px; width: 100%;}



/* section2 */
#section2 h2 {width: 100%; margin: 0 auto 6% auto; font-size: 36px; text-align: center; clear: both;}
#section2 h2 span {font-size: 22px; color: #777; display: block; font-weight: normal; margin-top: 0.6vw;}


#section2 ul {max-width: 1400px; margin: 0 auto;}
#section2 ul:after {content: ""; clear: both; display: block;}
#section2 ul li {width: 23.5%;  margin-right: 2%; margin-bottom: 2%; background: #fff; float: left; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); border-radius: 20px; transition: .3s; text-align: center;}
#section2 ul li:hover {margin-top: 0px;}
#section2 ul li:nth-child(4n) {margin-right: 0;}
#section2.on ul li:nth-child(even) {margin-top: 2%;}
#section2.on ul li:nth-child(odd) {margin-top: -2%;}

#section2 ul li img {border-radius: 20px; overflow: hidden; width: 100%;}
#section2 ul li i {display: block; margin-top: 15px; font-size: 16px; font-style: normal; color: #777;}
#section2 ul li h3 {margin-top: 5px; font-size: 20px; font-weight: 500; padding-bottom: 5.625%;}



/* section3 */
#section3 .left_content {width: 50%; height: 460px; background: url('../images/sec2_bg.png') no-repeat; background-size: cover; float: left; margin-top: 37px; overflow: hidden;}
#section3 .right_content {width: 50%; height: 534px; background: #f5f5f5; float: right; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; border-left: 1px solid #bbb; box-sizing: border-box; overflow: hidden;}

#section3 .left_content article {width: 810px; height: 100%; float: right; margin-right: 100%; transition: .8s; padding: 60px 40px 60px 20px; box-sizing: border-box;}
#section3.on .left_content article {margin-right: 0;}

.left_content article .time_box {width: 33%; height: 100%; background: #fff; border-radius: 20px; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1); text-align: center; float: left; margin-right: 4%; display: flex; justify-content: center; align-items: center; flex-direction: column;}

.left_content article .time_box h3 {font-size: 32px; text-align: center;}
.left_content article .time_box span {font-size: 24px; text-align: center; color: #F36E23; display: block; margin-top: 30px;}
.left_content article .time_box p {font-size: 44px; text-align: center; color: #004da0; font-weight: bold; margin-top: 30px; line-height: 40px;}


.left_content article ul {width: 63%; height: 100%; float: left;}

.left_content article ul li {width: 100%; height: 30%; line-height: 30%; border-radius: 20px; margin-bottom: 4.3%; font-size: 24px; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);}
.left_content article ul li:nth-child(1) {background: #F36E23; transition: .1s;}
.left_content article ul li:nth-child(2) {background: #4CA94E;}
.left_content article ul li:nth-child(3) {background: #79278e; margin-bottom: 0;}

.left_content article ul li a {display: block; text-align: center; width: 100%; height: 100%;}

.left_content article ul li a span {color: #fff; float: left; width: 30%; height: 100%; display: flex; justify-content: center; align-items: center;}
.left_content article ul li a p {color: #fff; width: 70%; height: 100%; float: left; display: flex; justify-content: center; align-items: center; padding-right: 15%; box-sizing: border-box;}


#section3 .right_content article {width: 810px; height: 100%; float: left; margin-left: 100%; transition: .8s; padding: 0 20px 0 40px; box-sizing: border-box;}
#section3.on .right_content article {margin-left: 0;}

.right_content article h3 {display: inline-block; font-size: 32px; margin-top: 60px; margin-left: 20px; position: relative; z-index: 0;}
.right_content article h3::after {content: ''; position: absolute; width: 100%; height: 20px; left: 0; bottom: 0; background: #FCCF00; z-index: -1;}

.right_content article ul {margin-top: 30px;}
.right_content article ul li {height: 70px; line-height: 70px; font-size: 20px; border-bottom: 1px solid #ddd;}
.right_content article ul li:last-child {border-bottom: none;}

.right_content article li {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;position: relative; text-indent: 40px;}

.right_content article ul li:before {content: ''; position: absolute; left: 10px; top: 35px; width: 4px; height: 4px; border-radius: 50%; background: #000;}



/* section4 */
#section4 h2 {width: 100%; margin: 0 auto; font-size: 36px; text-align: center; clear: both; margin-bottom: 60px;}
#section4 h2 span {font-size: 22px; color: #777; display: block; font-weight: normal; margin-top: 10px;}

#section4 .map_box_km {position: relative; width: 1580px; left: 50%; transform: translate(-50%);}

#section4 .map_box_km .map_info {position: absolute; width: 320px; height: 265px; top: 40%; left: 60%; z-index: 5; background: #FCCF00; border-radius: 20px; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);}

#section4 .map_box_km .map_info h3 {font-size: 18px; color: #222; margin-top: 40px; margin-left: 20px; font-weight: bold;}
#section4 .map_box_km .map_info strong {display: block; font-size: 32px; color: #004DA0; margin-top: 10px; margin-left: 20px;}
#section4 .map_box_km .map_info p {font-size: 16px; color: #000; margin-top: 10px; margin-left: 20px;}
#section4 .map_box_km .map_info p span {font-size: 16px; color: #555;}
#section4 .map_box_km .map_info a {background: #f5f5f5; color: #F36E23; display: block; padding: 18px; width: 50%; line-height: 12px; text-align: center; border-radius: 10px; margin-top: 20px; margin-left: 20px;}

#section4 .sec4_btn {display: block; width: 400px; height: 100px; margin: 80px auto 0 auto; background: #004DA0; font-size: 24px; color: #fff; text-align: center; border-radius: 20px; display: flex; justify-content: center; align-items: center;}



/* footer */
footer .footer_lt {float: left;}

footer .footer_lt .linkmenu li {display: inline-block; height: 30px; line-height: 30px; font-size: 18px; text-align: right;}
footer .footer_lt .linkmenu a {color: #fff; margin-right: 20px;}
footer .footer_lt p {font-size: 18px; color: #fff; margin-top: 35px; line-height: 30px;}
footer .footer_lt em {display: block; font-size: 16px; font-style: normal; color: #bbb; margin-top: 35px;}

footer .footer_rt {float: right;}

footer .footer_rt .famliy_site li {width: 160px; height: 30px; line-height: 30px; text-indent: 10px; background: #fff; display: inline-block; margin-right: 20px;}
footer .footer_rt .famliy_site li:last-child {width: 220px; margin-right: 0;}
footer .footer_rt .famliy_site li span {float: right; width: 30px; height: 30px; line-height: 30px; text-align: center; border-left: 1px solid #333; text-indent: 0;}
footer .footer_rt .famliy_site li a {color: #555;}



/* sub page */

#visual_sub {width: 100%; height: 320px; background: url('../images/sub_main.jpg') top no-repeat; background-size: cover; position: relative;}
/* #visual_sub .text_box {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -20%); font-size: 40px;} */


.sub_section .bread_box {width: 100%; height: 50px; background: #2367B0; position: relative;}
.sub_section .bread_box::before {content: ''; position: absolute; left: 0; width: 100%; height: 50px; background: #004DA0}

.sub_section .bread_box ul {max-width: 1580px; height: 50px; margin: 0 auto; position: relative;}
.sub_section .bread_box ul::before {content: ''; width: 300px; height: 50px; position: absolute; left: 0;background: #004DA0;}
.sub_section .bread_box ul li {width: 260px; height: 50px; line-height: 50px; float: left; font-size: 18px; text-align: left; border-right: 1px solid #2367B0; background: #6594C8; padding: 0 30px; box-sizing: border-box;}
.sub_section .bread_box ul li a {display: block; height: 100%;}
.sub_section .bread_box ul li a span {float: right; height: 50px; line-height: 50px; color: #fff;}
.sub_section .bread_box ul li.home {width: 50px; background: #2367B0; margin-left: 300px; border-left: none; text-align: center; padding: 0;}
.sub_section .bread_box ul li.home a {display: block; padding-top: 3px; box-sizing: border-box;}

.sub_section .bread_box ul li a {display: block; color: #fff;}


.sub_section .content_box {max-width: 1580px; margin: 0 auto;}

.sub_section .submenu {float: left; width: 300px; text-align: center; padding-left: 20px; padding-right: 40px; box-sizing: border-box;}

.sub_section .submenu h2 {width: 100%; height: 120px; line-height: 120px; font-size: 32px; text-align: center; border-bottom: 2px solid #333; font-weight: normal;}

.sub_section .snb li {height: 60px; line-height: 60px; border-bottom: 1px solid #ddd; font-size: 18px; text-align: left; text-indent: 30px; position: relative; transition: .1s;}
.sub_section .snb li::before {content: ''; position: absolute; width: 4px; height: 4px; border-radius: 50%; background: #555; left: 10px; top: 28px;}
.sub_section .snb li a {display: block;}
.sub_section .snb li.on {background: #004DA0;}
.sub_section .snb li.on a {color: #fff;}
.sub_section .snb li.on:before {background: #fff;}

.sub_section .snb li:hover {text-indent: 40px; background: #6594C8;}
.sub_section .snb li:hover a {color: #fff;}
.sub_section .snb li:hover.before {width: 20px;}


.sub_section .content {float: left; width: 80%; padding-left: 5%; padding-bottom: 120px; box-sizing: border-box; border-left: 1px solid #ddd;}

.sub_section .content h3 {margin-top: 80px; font-size: 32px; font-weight: normal; position: relative; display: inline-block;}
.sub_section .content h3:before {content: ''; position: absolute; left: 0; top: 50%; width: 100%; height: 20px; background: #FCCF00; z-index: -1;}

.sub_section .content ul > li {margin-top: 60px;}
.sub_section .content ul > li strong {font-size: 24px; display: block; text-indent: 10px; position: relative; color: #333;}
.sub_section .content ul > li strong::before {content: ''; position: absolute; width: 4px; height: 4px; border-radius: 50%; background: #555; left: -10px; top: 12px;}
.sub_section .content ul > li > p {font-size: 22px; margin-top: 10px; padding-left: 10px;}

.sub_section .content .box_wrap {margin-top: 100px;}
.sub_section .content .box_wrap li {width: 1050px; height: 180px; margin-top: 0; margin-bottom: 30px; background: #f5f5f5; border-radius: 20px;}
.sub_section .content .box_wrap li .tit {width: 250px; height: 100%; float: left; text-align: center; border-radius: 20px; display: flex; justify-content: center; align-items: center; word-break: keep-all; font-size: 24px; color: #fff; padding: 0 40px; box-sizing: border-box; font-weight: bold;}
.sub_section .content .box_wrap li:nth-child(1) .tit {background: #F36E23;}
.sub_section .content .box_wrap li:nth-child(2) .tit {background: #4CA94E;}
.sub_section .content .box_wrap li:nth-child(3) .tit {background: #79278E;}


.sub_section .content .box_wrap li .text {float: left; width: 800px; height: 100%;word-break: keep-all;}
.sub_section .content .box_wrap li .text p {float: left; width: 600px; font-size: 20px; margin-left: 40px; margin-top: 63px;}
.sub_section .content .box_wrap li .text a {background: #004DA0; width: 90px; height: 120px; float: left; border-radius: 10px; color: #fff; text-align: center; padding: 0 10px; box-sizing: border-box; display: flex; justify-content: center; align-items: center; font-weight: bold; margin-top: 30px; margin-left: 40px; font-size: 18px; transition: .1s;}
.sub_section .content .box_wrap li .text a:hover {background: #6594C8;}

.sub_section .content .box_wrap li.last .text {flex-direction: column;}
.sub_section .content .box_wrap li.last .text p {text-align: left; margin-top: 50px;}
.sub_section .content .box_wrap li.last .text a {width: 350px; height: 50px; margin-top: 15px;}
.sub_section .content .box_wrap li.last .text a:last-child {margin-left: 20px;}



@media screen and (max-width:1580px){
    #section2 {box-sizing: border-box;}
    #section2 ul {height: 100%;}
    
    #section3 .left_content article {width: 100%;}
    #section3 .right_content article {width: 100%;}

    #section4 .map_box_km {width: 100%;}
    
    footer .topset {width: 100%;}
   
}

@media screen and (max-width:1200px){
    header h1 {text-align: center;}

    header > .topset > .gnb {display: none;}
    
    #visual_main .text_box em {font-size: 40px;}
    #visual_main .text_box strong {font-size: 100px;}

    #section1 {background: #fff; height: auto;}
    
    #section1 .quick_box {height: 384px;}
    
    #section1 .tit_box {width: 15%; height: 100%;}
    
    #section1 .quick_box ul {float: left; width: 85%; padding: 0 2%;}
    #section1 .quick_box ul li {width: 32%; margin-top: 14px; margin-right: 2%;}
    #section1 .quick_box li:nth-child(3n) {margin-right: 0;}
    #section1 .quick_box .tit_box h2 {font-size: 22px;}
    
    #section2 {padding-top: 60px;}

    #section2 h2 {font-size: 3vw; margin-bottom: 6.6vw;}
    #section2 h2 span {font-size: 1.83vw}

    #section2 ul li i {font-size: 1.3vw; margin-top: 1.25vw;}
    #section2 ul li h3 {font-size: 1.6vw; margin-top: 0.416vw;}


    #section3 {padding: 0 20px; box-sizing: border-box;}
    #section3 .left_content {width: 100%; border-radius: 20px;}
    #section3 .left_content article {width: 100%; padding: 3.33vw 1.6%;}
    
    .left_content article .time_box {width: 36%; margin-right: 2%; margin-top: 0; display: flex; justify-content: center; align-items: center; flex-direction: column;}
    .left_content article ul {width: 62%; height: 100%; display: flex; justify-content: space-around; flex-direction: column;}
    

    #section3 .right_content {width: 100%; border: 1px solid #ddd; border-radius: 20px; margin-top: 20px;}
    #section3 .right_content article {width: 100%; padding: 0 3.3%; margin: 0;}

    
    #section4 h2 {font-size: 3vw; margin-bottom: 5vw;}
    #section4 h2 span {font-size: 1.83vw}
    #section4 .sec4_btn {width: 31vw; height: 8vw; font-size: 2vw;}

    .sub_section .bread_box ul::before {display: none;}
    .sub_section .bread_box ul li.home {margin-left: 0;}

    .content_box .submenu {width: 100%; border-bottom: 1px solid #ddd; padding: 0;}
    
    .sub_section .snb {width: 100%; text-align: center; font-size: 0;}
    .sub_section .snb li {display: inline-block; border-bottom: none;}
    .sub_section .snb li a {text-indent: 0; padding: 0 40px;}
    .sub_section .snb li::before {display: none;}
    
    .sub_section .content {width: 100%; padding-right: 5.8%;}

    footer .topset {width: 100%; text-align: center;}
}

@media screen and (max-width:850px){
    header .topset > .gnb {display: none;}

    header #burger_menu {margin-right: 20px;}

    header .sidemenu {width: 50%;}

    #visual_main {height: 590px;}

    #section1 .quick_box {top: -90px;}
    #section1.on .quick_box {top: -60px;}
    
    #section2 h2 {font-size: 25.5px;}
    #section2 h2 span {font-size: 15.5px}

    #section2 ul {width: auto;}
    #section2 ul li {width: 49%; margin-right: 2%;}
    #section2 ul li:nth-child(2n) {margin-right: 0;}
    
    #section2 ul li i {font-size: 2vw; margin-top: 1.76vw;}
    #section2 ul li h3 {font-size: 2.5vw; margin-top: 0.58vw;}

    #section3 .left_content {height: 50vw;}

    .left_content article .time_box h3 {font-size: 3.76vw;}
    .left_content article .time_box span {font-size: 2.82vw; margin-top: 3.52vw;}
    .left_content article .time_box p {font-size: 5.17vw; width: 130px; margin-top: 3.52vw; line-height: 4.7vw;}

    .left_content article ul li {font-size: 2.82vw; border-radius: 2.35vw;}

    .left_content article ul li a span {display: none;}
    .left_content article ul li a p {width: 100%;  padding: 0;}

    #section3 .right_content {height: auto;}
    
    #section3 .right_content article {padding-bottom: 4.7vw;}
    
    .right_content article h3 {font-size: 3.76vw; margin-top: 7.05vw;}
    .right_content article h3::after {height: 2.35vw;}
    .right_content article ul {margin-top: 3.52vw;}
    .right_content article ul li {height: 6.5vw; line-height: 6.5vw; text-indent: 4.7%; font-size: 2.82vw;}
    .right_content article ul li::before {top: 4.11vw;}
    .right_content article ul li a {font-size: 2.35vw;}
    
    #daumRoughmapContainer1665719115007 {width: 100% !important;}
    #section4 .map_box_km .map_info {display: none;}

    #section4 h2 {font-size: 25.5px; margin-bottom: 40px;}
    #section4 h2 span {font-size: 15.5px}
    #section4 .sec4_btn {width: 31vw; height: 8vw; font-size: 2vw;}


    .sub_section .bread_box ul {width: 100%;}
    .sub_section .bread_box ul li {width: 30.58%;}
}

@media screen and (max-width:670px){
    header {height: 50px;}
    header h1 {position: relative; left: 50%; transform: translateX(-50%); margin-left: 0; margin-top: 8px; width: 70px; height: 34px;}
    
    header .topset #burger_menu {width: 50px; height: 50px; top: 0; display: flex; justify-content: center; align-items: center; margin-right: 0;}

    header .topset #burger_menu span {width: 10px; height: 2px; top: 30px;}

    header .topset #burger_menu span::before,
    header .topset #burger_menu span::after {width: 15px; height: 2px;}

    header .topset #burger_menu span::before {top: -5px;}
    header .topset #burger_menu span::after {top: 5px;}
    
    header .sidemenu {width: 60%; right: -60%;}

    #visual_main {height: 300px;}

    #visual_main .text_box em {font-size: 16px; text-indent: 5px;}
    #visual_main .text_box strong {font-size: 38px;}

    #section1 .quick_box {width: 100%; float: left; height: auto;}

    #section1 .quick_box .tit_box {width: 100%; height: 80px; display: flex; justify-content: center; align-items: center;}
    #section1 .quick_box .tit_box h2 {font-size: 18px;}

    #section1 .quick_box ul {width: 100%; padding: 10px 10px 10px 10px}
    #section1 .quick_box ul li {width: 49%; height: 120px; margin-top: 2%; margin-right: 2%;}
    #section1 .quick_box ul li:nth-child(1),
    #section1 .quick_box ul li:nth-child(2){margin-top: 0;}
    #section1 .quick_box li:nth-child(2n) {margin-right: 0;}
    #section1 .quick_box li:nth-child(3) {margin-right: 2%;}

    #section1 .quick_box ul li figure {padding-top: 15px;}
    #section1 .quick_box ul li img {width: 60px;}
    #section1 .quick_box ul li p {font-size: 16px;}

    #section2 h2 {font-size: 24px;}
    #section2 h2 span {font-size: 16px;}

    #section2 ul {width: auto;}
    #section2 ul li {width: 100%; height: 30vw; margin-right: 0; margin-bottom: 3vw;}
    #section2.on ul li:nth-child(even) {margin-top: 0;}
    #section2.on ul li:nth-child(odd) {margin-top: 0;}
    #section2 ul li figure {width: auto; height: 100%;  float: left;}
    #section2 ul li figure img {height: 100%; float: left;}
    #section2 ul li i {width: auto; font-size: 3vw; margin-top: 0; padding-top: 10vw;}
    #section2 ul li h3 {width: auto; font-size: 3.5vw; margin-top: 2vw;}

    /* #section4 h2 {font-size: 24px;} */
    /* #section4 h2 span {font-size: 16px;} */

    #section4 .sec4_btn {width: 200px; height: 50px; font-size: 14px;}

    footer .linkmenu {display: none;}
}
